#Home
    {
         background: linear-gradient(to right, #000000, #1a1a1a);
    }

     .navbar-brand
      {
      font-size: 28px;
      font-weight: bold;
      color: white;

    }

    .navbar-brand:hover{
       color: rgb(145, 243, 243);
    }
    .navbar-brand span {
      color: red; /* "lio." in red */
    }

    /* Nav links */
    .nav-link {
      font-size: 18px;
      font-weight: 600;
      color: white !important;
      transition: color 0.3s;
    }
    .nav-link:hover {
      color: red !important; /* Hover effect */
    }
    .hero-section {
      background: url('https://www.transparenttextures.com/patterns/dark-wood.png'); 
      background-size: cover;
      color: white;
      min-height: 100vh;
      display: flex;
      align-items: center;
      padding-left:20%;
    
    }

    /* Name Styling */
    .hero-section h1 {
      font-size: 4rem;   /* large font */
      font-weight: 600;  /* bold */
      letter-spacing: 2px;
    }

    /* Subtitle */
    .hero-section h3 {
      font-size: 1.90rem;
      font-weight: 400;
    }

    /* Highlighted text */
    .highlight {
      color: #ff4b5c;
      font-weight: bold;
    }

    /* Button */
    .btn-custom {
      background-color: #e5172b;
      border: none;
      padding: 10px 30px;
      font-size: 1.1rem;
      border-radius: 8px;
      transition: 0.3s;
      font-weight:500;
    }
    .btn-custom:hover {
      background-color: #d07679;
    }

   #about
   {
    background-color: white;
   }
.profile-img{
  width: 500px;
  height: 350px;
  top: 20%;
 border-radius: 10px;
 border-top: 10px;

}
.title1
{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    top: 160%;
}
