 .back
    {
         background: linear-gradient(to right, #000000, #1a1a1a);
    }

     #protfo
      {
      font-size: 28px;
      font-weight: bold;
    }

 #protfo:hover{
       color: rgb(145, 243, 243);
    }

    .nav-link {
      font-size: 18px;
      font-weight: 600;
      color: white !important;
      transition: color 0.3s;
    }
    .nav-link:hover {
      color: red !important;
    }
    .hero-section {
      background: url('https://www.transparenttextures.com/patterns/dark-wood.png'); 
      background-size: cover;
      color: white;
      min-height: 100vh;
      display: flex;
      align-items: center;
      padding-left:20%;
    
    }
    .hero-section h1 {
      font-size: 4rem;   /* large font */
      font-weight: 600;  
      letter-spacing: 2px;
    }

    /* .btn-custom {
      background-color: #fa5868;
      border: none;
      padding: 10px 30px;
      font-size: 1.1rem;
      border-radius: 8px;
      transition: 0.3s;
      font-weight:500;
    }
    .btn-custom:hover {
      background-color: #f31017;
    } */

   #about
   {
    background-color: white;
   }
   .text
   {
    position: absolute;
    left:260px;
    top:300px;
   }
#who
{
  content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    top:120%;
       height: 3px;
    background: #111;
    transform: translateX(-50%);
}

#about-img
{
  position: absolute;
  width:430px;
  top:125%;
  left:110px;

}

